# Compiler files
cache/
out/
soljson-latest.js
__pycache__/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/ShadowFork*.sol/

# Docs
docs/

# Dotenv file
.eureka-env
.env
node_modules/
.idea/
.terminalgraph/
deployments/shadow-*/
